.container {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;

  div{
    max-width: 1120px;
    width: 43.75rem;


    img{

      width: 238.62px;
      height: 25.63px;


    }
  }


}



