.container {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  div {
    max-width: 1120px;
    width: 43.75rem;

    img {
      width: 238.62px;
      height: 25.63px;
    }
  }
}
